<div class="container-fluid">
    <div class="row">
        <div class="container regContainer escortlistContainer">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 regContainerCol">
                    <h2 class="text-center">Escort List</h2>
                    <a (click)="add()" class="addBtn logoutBtn">Add</a>
                    <a (click)="logout()" class="logoutBtn">Logout</a>
                    <hr>
                    <div class="col-md-12 escortlistCol">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                <img class="media-object img-responsive" src="assets/images/person-icon.png" alt="Person Icon">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><small>Name :</small> Lorem Ipsum</h4>
                                <span><small>Age :</small> 28 Years</span>
                                <span><small>Mobile :</small> 8888888888</span>
                                <p><small>Service :</small> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 escortlistCol">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                <img class="media-object img-responsive" src="../../assets/images/person-icon.png" alt="Person Icon">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><small>Name :</small> Lorem Ipsum</h4>
                                <span><small>Age :</small> 26 Years</span>
                                <span><small>Mobile :</small> 6666666666</span>
                                <p><small>Service :</small> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>