
.escortlistContainer .media-left{
    padding-right: 0px;
}
.escortlistContainer .media-left a{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
    display: block;
    border: 1px solid #870024;
}
.escortlistContainer .escortlistCol{
    margin: 15px auto;    
}
.escortlistContainer .media-body h4, .escortlistContainer .media-body span, .escortlistContainer .media-body p{
    margin-left: 15px;
    display: block;
}
.escortlistContainer .media-body h4{
    font-weight: bold;
}
.escortlistContainer .media-body span > small, .escortlistContainer .media-body p > small, .escortlistContainer .media-body h4 > small{
    font-weight: bold;
    color: #252525;
}
.escortlistContainer .media-body span, .escortlistContainer .media-body p{
    font-size: 16px;
    line-height: 22px;
}
.regContainerCol{
    position: relative;
}
.logoutBtn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 38px;
    border: 1px solid #7c0021;
    border-radius: 4px;
    line-height: 38px;
    font-size: 16px;
    color: #7c0021;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.logoutBtn:hover{
    text-decoration: none;
}
.addBtn{
    right: inherit;
    left: 20px;
}

.choose{

    display:none;
}

.selectQueryDiv{
    position: relative;
    margin-bottom: 0px;
}
.selectQueryDiv label, .selectQueryDiv select{
    display: inline-block;
    margin-bottom: 8px;
}
.selectQueryDiv label{
    font-size: 18px;
}
.selectQueryDiv select.form-control, .selectQueryDiv input.form-control{
    width: 200px;
    border: 1px solid #7c0021;
    color: #7c0021;
    font-size: 18px;
}
.selectQueryDiv input.form-control{
    position: absolute;
    right: 0px;
    top: 0px;
}

.selectQueryDiv input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7c0021;
}
.selectQueryDiv input::-moz-placeholder { /* Firefox 19+ */
  color: #7c0021;
}
.selectQueryDiv input:-ms-input-placeholder { /* IE 10+ */
  color: #7c0021;
}
.selectQueryDiv input:-moz-placeholder { /* Firefox 18- */
  color: #7c0021;
}
#myTable{
    padding-left: 0px;
}
#myTable .media{
    border-bottom: 1px solid rgba(67, 67, 67, 0.3);
    margin-bottom: 0px;
    padding-bottom: 15px;
}
#myTable .media-heading{
    font-weight: bold;
    font-size: 18px;
}
@media screen and (max-width:767px){

    .regContainerCol{
        padding-top: 70px;
    }

}