<div class="container-fluid">
    <div class="row">
        <div class="container regContainer escortlistContainer">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 regContainerCol">
                    <h2 class="text-center">Escort List</h2>
                    <a (click)="add()" class="addBtn logoutBtn">Add</a>
                    <a (click)="logout()" class="logoutBtn">Logout</a>
                    <hr>
                    <div class="col-md-12 escortlistCol">
                        <div class="selectQueryDiv form-group">
                            <label>Filter By : </label>
                            <select class="form-control" (change)="onItemChange()" [(ngModel)]="category">
                                <option value="" disabled selected style="display: none;">Choose Search By...</option>
                                <option *ngFor=" let value of filterItem" value="{{value.id}}">{{value.name}}</option>
                            </select>

                            <input type="text" id="con" (keyup)="country()" placeholder="Search for Country.." class="choose form-control">
                            <input type="text" id="cit" (keyup)="city()" placeholder="Search for City.." class="choose form-control">
                            <input type="text" id="age" (keyup)="age()" placeholder="Search for Age.." class="choose form-control">
                            <input type="text" id="ser" (keyup)="service()" placeholder="Search for Service.." class="choose form-control">
                        </div>

                        <ul id="myTable">
                            <li class="media" *ngFor="let escort of escortlist">
                                <div class="media-left">
                                    <a href="#">
                                    <img class="media-object img-responsive" src="{{escort.thumb}}" alt="Person Icon">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <span class="media-heading"><small>Name : </small>{{escort.name}}</span>
                                    <span><small>Age : </small>{{escort.age}}</span>
                                    <span><small>Country : </small>{{escort.country}}</span>
                                    <span><small>City : </small>{{escort.city}}</span>
                                    <span><small>Mobile : </small>{{escort.mobile}}</span>
                                    <span><small>Service : </small>{{escort.service}}</span>
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>